.body{
    background-color: #20232a;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.hero{
    background-image: url(../img/fondo2.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    max-width: 352px;
    background-color: #20232ace;
    margin: auto;
    overflow: hidden;
    border: 0.125rem solid whitesmoke;
    border-radius: 1rem;
    text-align: center;
}

.menu{
    display: flex;
    list-style: none;

}

li{
    padding-left: 1rem;
}