.body{
    background-color: #20232a;
    color: white;
    font-family: monospace;
    margin: 0;
}

.hero{
    background-image: url(../img/fondo2.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    border: 0.125rem solid whitesmoke;
    border-radius: 1rem;
    
}

.card:hover{
    border: 0.25rem solid rgb(42, 84, 173);
    
    
}

.card__header{
    background-color: #20232ace;
    text-align: center;
    padding: 1rem;
}

.card__img{
    background-color: #1a4099ce;
    border-radius: 50%;
    width: min(100%,256px);
    object-fit: cover;
}

.card__body{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #3f4452af;
    padding: 1rem;
}

.card__title{
    margin: 0;
    text-align: center;
    font-size: 2.5rem;
}

.card__subtitle{
    margin: 0;
    text-align: center;
    font-size: 1.2rem;

}

.card__text{
    margin: 0;
    text-align: justify;
    font-size: 1rem;
}

.card__text::before{
    content: '😎';
}

.card__text::after{
    content: '😈';
}

.card__footer{
    background-color: #20232ace;
    text-align: center;
    padding: 1rem;
}


.menu{
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}